.container {
  margin: 0 auto;
  width: 720px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}


nav {
  margin: 10px 20px 10px 20px;
  height: 40px;
  border-radius: 10px;
  background: -moz-linear-gradient(gainsboro, silver); /* For Firefox 3.6 to 15 */
  background: linear-gradient(gainsboro, silver); /* Standard syntax */
  /*text-align: center;*/
}
nav ul li{
  display: inline-block;
  font-size: 15px;
}
ul {
  padding-left: 0px;
}
li {
  padding-top: 12px;
  padding-bottom: 10px;
  border-right: 2px solid white;
  text-align: center;
  width: 130px;
}
li:last-child{
  border-right: none;
}
ul li a{
  text-decoration: none;
  color: black;
}